.footer {
  padding: 16px 0;
  background-color: $color-dark;
  color: $color-light;
}

.footer-container {
  @include container;
}

.footer-wrap  {
  display: flex;
  justify-content: space-between;
}

.contacts {
  align-items: center;
  display: flex;
}

.phone {
  text-decoration: none;
  color: $color-light;
}

.social-icon {
  display: flex;
  margin: 0;
  padding-left: 55px;
}
 .icon {
   list-style: none;
   padding-left: 15px;
   text-decoration: none;
 }
