.order {
  background-color: rgba(51, 51, 51, .1);
}

.order-container {
  padding-bottom: 130px;
  @include container;
}

.order-title {
  margin: 130px auto 40px;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
}

.order-desc {
  margin-bottom: 130px;
}

.form-field {
  display: inline;
}
